<div class="example">
  <h3>Context Menu</h3>
  <p>Context menu items are custom additions that appear in the right-click menu.</p>
  <p>Right-click in the box below to see one called 'the-internet'. When you click it, it will trigger a JavaScript alert.</p>
  <div id='hot-spot' style="border-style: dashed; border-width: 5px; width: 250px; height: 150px;" oncontextmenu="displayMessage()">
  </div>
</div>

</br></br>

<div><h1 class="text-center">Buttons</h1>
  <div>
    <button id="doubleClickBtn" type="button" class="btn btn-primary">Double Click Me</button>
  </div>
  <div class="mt-4">
    <button id="rightClickBtn" type="button" class="btn btn-primary">Right Click Me</button>
  </div>
  <div class="mt-4">
    <button id="pVg5J" type="button" class="btn btn-primary">Click Me</button>
  </div>
  <p id="rightClickMessage">You have done a right click</p></div>

<script>
function displayMessage() {
  window.alert('You selected a context menu')
}
</script>
