<div id="content" class="large-12 columns">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
      document.title = "Dynamic Loading | Example #3";
      $(document).ready(function() {
          $('#loading').show(); // Show the loading element initially
          $('#start').hide();
          setTimeout(function() {
              $('#loading').hide(); // Hide the loading element after 5 seconds
              $('#finish').show(); // Show the finish element after hiding the loading element
          }, 5000);
      });
  </script>

  <div class="example">
    <h3>Dynamically Loaded Page Elements</h3>
    <h4>Example 3: Element on page that is hidden and becomes visible after 5 seconds</h4>

    <br>

    <div id="loading">Loading... <img src="/img/ajax-loader.gif"></div>
    <div id="start" style="display: none;">
      <button class="btn btn-primary">Start</button>
    </div>

    <div id="finish" style="display: none;">
      <h4>Hello World!</h4>
      <h6>Enter <em>tomsmith</em> for the username and <em>SuperSecretPassword!</em> for the password.</h6>
      <br>



      <form name="login" id="login" action="/authenticate" method="post" class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2" for="username">Username:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Password:</label>
          <div class="col-sm-6">
            <input type="password" class="form-control" id="pwd" name="password" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-6">
            <div class="checkbox">
              <label><input type="checkbox"> Remember me</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-6">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>



    </div>

  </div>

</div>

