<div class="container">
  <div class="row">
    <div id="flash-messages" class="large-12 columns">
    </div>
  </div>
  <div class="row">
    <div id="content" class="large-12 columns">
      <script>
          document.title = "Dynamic Loading | Example #7";

          function sleep(milliseconds) {
              let start = new Date().getTime();
              for (let i = 0; i < 1e7; i++) {
                  if ((new Date().getTime() - start) > milliseconds) {
                      break;
                  }
              }
          }

          function changeTitle() {
              let titles = ["Loading", "Loading.", "Loading..", "Loading..."]
              for (let outer_index = 0; outer_index < 2; outer_index++) {
                  for (let index = 0; index < titles.length; index++) {
                      document.title = titles[index];
                      sleep(500);
                  }
              }

          }

          function deleteById(id) {
              let element = document.getElementById(id);
              element.remove();
          }

          function showImage() {
              let element = document.getElementById("example");
              element.insertAdjacentHTML("afterend", '<img src="/img/a-few-moments.jpg" class="rounded mx-auto d-block" alt="square pants">')
          }

          function addSuccess() {
              let element = document.getElementById("example");
              element.insertAdjacentHTML("afterend", '<div class="alert alert-success alert-dismissible fade show" role="alert" id="alert"><strong>Done!</strong></div>')
          }

          window.onload = function () {
              document.title = "Loading...";
          }

          setTimeout(function () {
              deleteById("alert");
              showImage();
              addSuccess();
              document.title = "Dynamic title";
          }, 5000);


      </script>
      <div class="example" id="example">
        <h3>Dynamically Loaded Page Title</h3>
        <h4>Example 7: Loading page title after 5 seconds</h4>
        <br>

      </div><div class="alert alert-success alert-dismissible fade show" role="alert" id="alert"><strong>Done!</strong></div><img src="/img/a-few-moments.jpg" class="rounded mx-auto d-block" alt="square pants">

    </div>
  </div>

</div>