<!--<div class='example'>-->
<!--  <h3>Dynamically Loaded Page Elements</h3>-->
<!--  <p>It's common to see an action get triggered that returns a result dynamically. It does not rely on the page to reload or finish loading. The page automatically gets updated (e.g. hiding elements, showing elements, updating copy, etc) through the use of JavaScript.</p>-->

<!--  <p>There are two examples. One in which an element already exists on the page but it is not displayed. And anonther where the element is not on the page and gets added in.</p>-->

<!--  </br>-->

<!--  <a href='/dynamic_loading/1'>Example 1: Element on page that is hidden</a>-->
<!--  <br>-->
<!--  <br>-->
<!--  <a href='/dynamic_loading/2'>Example 2: Element rendered after the fact</a>-->
<!--  <br>-->
<!--  <br>-->
<!--  <a href="/dynamic_loading/3">Example 3: Element on page that is hidden and become visible after 5 seconds</a>-->
<!--  <br>-->
<!--  <br>-->
<!--  <a href="/dynamic_loading/4">Example 4: Element on the page that is rendered after 5 seconds</a>-->
<!--  <br>-->
<!--  <br>-->
<!--  <a href="/dynamic_loading/5">Example 5: Loading overlay that disappears after time</a>-->
<!--  <br>-->
<!--  <br>-->
<!--  <a href="/dynamic_loading/6">Example 6: Loading overlay that disappears and disappears again</a>-->
<!--  <br>-->
<!--  <br>-->
<!--  <a href="/dynamic_loading/7">Example 7: Loading page title after 5 seconds</a>-->




<!--</div>-->


<div id="content" class="large-12 columns">
  <div class="example">
    <h3>Dynamically Loaded Page Elements</h3>
    <p>It's common to see an action get triggered that returns a result dynamically. It does not rely on the page to
      reload or finish loading. The page automatically gets updated (e.g. hiding elements, showing elements, updating
      copy, etc) through the use of JavaScript.</p>

    <p>There are two examples. One in which an element already exists on the page but it is not displayed. And anonther
      where the element is not on the page and gets added in.</p>

    <br>

    <a href="/dynamic_loading/1">Example 1: Element on page that is hidden and become visible after trigger</a>
    <br>
    <br>
    <a href="/dynamic_loading/2">Example 2: Element on the page that is rendered after the trigger</a>
    <br>
    <br>
    <a href="/dynamic_loading/3">Example 3: Element on page that is hidden and become visible after 5 seconds</a>
    <br>
    <br>
    <a href="/dynamic_loading/4">Example 4: Element on the page that is rendered after 5 seconds</a>
    <br>
    <br>
    <a href="/dynamic_loading/5">Example 5: Loading overlay that disappears after time</a>
    <br>
    <br>
    <a href="/dynamic_loading/6">Example 6: Loading overlay that disappears and disappears again</a>
    <br>
    <br>
    <a href="/dynamic_loading/7">Example 7: Loading page title after 5 seconds</a>
  </div>

  <script type="text/javascript" charset="utf-8">
      document.title = "Dynamic Loading";
  </script>

</div>