<div class="container">
  <div class="row">
    <div id="flash-messages" class="large-12 columns">
    </div>
  </div>
  <div class="row">
    <div id="content" class="large-12 columns">
      <script>
          document.title = "Dynamic Loading | Example #6";

          $(setTimeout(function () {
              $(document).execCommand($.LoadingOverlay("show", {
                  image: "",
                  fontawesome: "fa fa-cog fa-spin"
              }), 2000);
          }, 0));

          $(setTimeout(function () {
              $(document).ready($.LoadingOverlay("hide", {
                  image: "",
                  fontawesome: "fa fa-cog fa-spin"
              }), 2000);
          }, 2000));

          $(setTimeout(function () {
              $(document).execCommand($.LoadingOverlay("show", {
                  image: "",
                  fontawesome: "fa fa-cog fa-spin"
              }), 3000);
          }, 3000));

          $(setTimeout(function () {
              $(document).ready($.LoadingOverlay("hide", {
                  image: "",
                  fontawesome: "fa fa-cog fa-spin"
              }), 4000);
          }, 4000));
      </script>
      <div class="example">
        <h3>Dynamically Loaded Page Elements</h3>
        <h4>Example 6: Loading overlay that disappears and disappears again</h4>
        <br>
        <h6>Enter <em>tomsmith</em> for the username and <em>SuperSecretPassword</em> for the password.</h6>
        <br>
        <form name="login" id="login" action="/authenticate_dynamic_loading_6" method="post">
          <div class="form-group">
            <label class="control-label col-sm-2" for="username">Username:</label>
            <div class="col-sm-6">
              <input type="username" class="form-control" id="username" name="username" placeholder="Enter username">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-6">
              <input type="password" class="form-control" id="pwd" name="password" placeholder="Enter password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
        <br>
      </div>

    </div>
  </div>

</div>