
<!--<ul class="list-group">-->
<!--  <li><a href='/abtest'>A/B Testing</a></li>-->
<!--  <li><a href='/add_remove_elements/'>Add/Remove Elements</a></li>-->
<!--  <li><a href='/basic_auth'>Basic Auth</a> (user and pass: admin)</li>-->
<!--  <li><a href='/broken_images'>Broken Images</a></li>-->
<!--  <li><a href='/challenging_dom'>Challenging DOM</a></li>-->
<!--  <li><a href='/checkboxes'>Checkboxes</a></li>-->
<!--  <li><a href='/context_menu'>Context Menu</a></li>-->
<!--  <li><a href='/clickable'>Clickable</a></li>-->
<!--  <li><a href='/digest_auth'>Digest Authentication</a> (user and pass: admin)</li>-->

<!--  <li><a href='/disappearing_elements'>Disappearing Elements</a></li>-->
<!--  <li><a href='/double_click'>Double Click</a></li>-->
<!--  <li><a href='/drag_and_drop'>Drag and Drop</a></li>-->
<!--  <li><a href='/dropdown'>Dropdown</a></li>-->
<!--  <li><a href='/dynamic_content'>Dynamic Content</a></li>-->
<!--  <li><a href='/dynamic_controls'>Dynamic Controls</a></li>-->
<!--  <li><a href='/dynamic_loading'>Dynamic Loading</a></li>-->
<!--  <li><a href='/entry_ad'>Entry Ad</a></li>-->
<!--  <li><a href='/exit_intent'>Exit Intent</a></li>-->
<!--  <li><a href='/download'>File Download</a></li>-->
<!--  <li><a href='/upload'>File Upload</a></li>-->
<!--  <li><a href='/floating_menu'>Floating Menu</a></li>-->
<!--  <li><a href='/forgot_password'>Forgot Password</a></li>-->
<!--  <li><a href='/frames'>Frames</a></li>-->
<!--  <li><a href='/geolocation'>Geolocation</a></li>-->
<!--  <li><a href='/horizontal_slider'>Horizontal Slider</a></li>-->
<!--  <li><a href='/hovers'>Hovers</a></li>-->
<!--  <li><a href='/infinite_scroll'>Infinite Scroll</a></li>-->
<!--  <li><a href='/inputs'>Inputs</a></li>-->
<!--  <li><a href='/jqueryui/menu'>JQuery UI Menus</a></li>-->
<!--  <li><a href='/javascript_alerts'>JavaScript Alerts</a></li>-->
<!--  <li><a href='/javascript_error'>JavaScript onload event error</a></li>-->
<!--  <li><a href='/key_presses'>Key Presses</a></li>-->
<!--  <li><a href='/login'>Login Page</a></li>-->
<!--  <li><a href='/large'>Large & Deep DOM</a></li>-->
<!--  <li><a href='/windows'>Multiple Windows</a></li>-->
<!--  <li><a href='/multiple_buttons'>Multiple Buttons</a></li>-->
<!--  <li><a href='/nested_frames'>Nested Frames</a></li>-->
<!--  <li><a href='/open_new_tab'>New Tab</a></li>-->
<!--  <li><a href='/notification_message'>Notification Messages</a></li>-->
<!--  <li><a href='/radio_buttons'>Radio Buttons</a></li>-->
<!--  <li><a href='/redirector'>Redirect Link</a></li>-->
<!--  <li><a href='/registration_form'>Registration Form</a></li>-->
<!--  <li><a href='/download_secure'>Secure File Download</a></li>-->
<!--  <li><a href='/shadowdom'>Shadow DOM</a></li>-->
<!--  <li><a href='/shifting_content'>Shifting Content</a></li>-->
<!--  <li><a href='/slow'>Slow Resources</a></li>-->
<!--  <li><a href='/tables'>Sortable Data Tables</a></li>-->
<!--  <li><a href='/status_codes'>Status Codes</a></li>-->
<!--  <li><a href='/typos'>Typos</a></li>-->
<!--  <li><a href='/tinymce'>WYSIWYG Editor</a></li>-->
<!--</ul>-->



<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>UI Automation Practice</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
      body {
          font-family: Arial, sans-serif;
          background-color: #f8f9fa;
          padding: 20px;
      }
      .navbar {
          background-color: #343a40;
          padding: 10px;
      }
      .navbar-brand {
          color: white;
          font-size: 1.5em;
      }
      .navbar-nav .nav-link {
          color: white;
      }
      .container {
          margin-top: 20px;
      }
      .list-group-item {
          padding: 10px 15px;
      }
      h2 {
          margin-top: 20px;
      }
  </style>
</head>
<body>

<nav class="navbar">
  <a class="navbar-brand" href="#">UI Automation Practice</a>
  <div class="navbar-nav ml-auto">
    <a class="nav-link" href="/">Home</a>
  </div>
</nav>

<div class="container">
  <h2>Available Examples</h2>
  <ul class="list-group">
    <li class="list-group-item"><a href='/abtest'>A/B Testing</a></li>
    <li class="list-group-item"><a href='/add_remove_elements/'>Add/Remove Elements</a></li>
    <li class="list-group-item"><a href='/basic_auth'>Basic Auth</a> (user and pass: admin)</li>
    <li class="list-group-item"><a href='/broken_images'>Broken Images</a></li>
    <li class="list-group-item"><a href='/challenging_dom'>Challenging DOM</a></li>
    <li class="list-group-item"><a href='/checkboxes'>Checkboxes</a></li>
    <li class="list-group-item"><a href='/context_menu'>Context Menu</a></li>
    <li class="list-group-item"><a href='/clickable'>Clickable</a></li>
    <li class="list-group-item"><a href='/disappearing_elements'>Disappearing Elements</a></li>
    <li class="list-group-item"><a href='/double_click'>Double Click</a></li>
    <li class="list-group-item"><a href='/drag_and_drop'>Drag and Drop</a></li>
    <li class="list-group-item"><a href='/dropdown'>Dropdown</a></li>
    <li class="list-group-item"><a href='/dynamic_content'>Dynamic Content</a></li>
    <li class="list-group-item"><a href='/dynamic_controls'>Dynamic Controls</a></li>
    <li class="list-group-item"><a href='/dynamic_loading'>Dynamic Loading</a></li>
    <li class="list-group-item"><a href='/entry_ad'>Entry Ad</a></li>
    <li class="list-group-item"><a href='/exit_intent'>Exit Intent</a></li>
    <li class="list-group-item"><a href='/download'>File Download</a></li>
    <li class="list-group-item"><a href='/upload'>File Upload</a></li>
    <li class="list-group-item"><a href='/floating_menu'>Floating Menu</a></li>
    <li class="list-group-item"><a href='/forgot_password'>Forgot Password</a></li>
    <li class="list-group-item"><a href='/frames'>Frames</a></li>
    <li class="list-group-item"><a href='/geolocation'>Geolocation</a></li>
    <li class="list-group-item"><a href='/horizontal_slider'>Horizontal Slider</a></li>
    <li class="list-group-item"><a href='/hovers'>Hovers</a></li>
    <li class="list-group-item"><a href='/infinite_scroll'>Infinite Scroll</a></li>
    <li class="list-group-item"><a href='/inputs'>Inputs</a></li>
    <li class="list-group-item"><a href='/jqueryui/menu'>JQuery UI Menus</a></li>
    <li class="list-group-item"><a href='/javascript_alerts'>JavaScript Alerts</a></li>
    <li class="list-group-item"><a href='/javascript_error'>JavaScript onload event error</a></li>
    <li class="list-group-item"><a href='/key_presses'>Key Presses</a></li>
    <li class="list-group-item"><a href='/login'>Login Page</a></li>
    <li class="list-group-item"><a href='/large'>Large & Deep DOM</a></li>
    <li class="list-group-item"><a href='/windows'>Multiple Windows</a></li>
    <li class="list-group-item"><a href='/multiple_buttons'>Multiple Buttons</a></li>
    <li class="list-group-item"><a href='/nested_frames'>Nested Frames</a></li>
    <li class="list-group-item"><a href='/open_new_tab'>New Tab</a></li>
    <li class="list-group-item"><a href='/notification_message'>Notification Messages</a></li>
    <li class="list-group-item"><a href='/radio_buttons'>Radio Buttons</a></li>
    <li class="list-group-item"><a href='/redirector'>Redirect Link</a></li>
    <li class="list-group-item"><a href='/registration_form'>Registration Form</a></li>
    <li class="list-group-item"><a href='/download_secure'>Secure File Download</a></li>
    <li class="list-group-item"><a href='/shadowdom'>Shadow DOM</a></li>
    <li class="list-group-item"><a href='/shifting_content'>Shifting Content</a></li>
    <li class="list-group-item"><a href='/slow'>Slow Resources</a></li>
    <li class="list-group-item"><a href='/tables'>Sortable Data Tables</a></li>
    <li class="list-group-item"><a href='/status_codes'>Status Codes</a></li>
    <li class="list-group-item"><a href='/typos'>Typos</a></li>
    <li class="list-group-item"><a href='/tinymce'>WYSIWYG Editor</a></li>
  </ul>
</div>

</body>
</html>
