<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<html>
  <head>
    <script src="/js/vendor/298279967.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>U-Code Academy</title>
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <script src="/js/vendor/jquery-1.11.3.min.js"></script>
    <script src="/js/vendor/jquery-ui-1.11.4/jquery-ui.js"></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/foundation.alerts.js"></script>
    <script>
      $(document).foundation();
    </script>
  </head>
  <body>

  <nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/" style="color: #007bff;">Home</a>
      </li>
    </ul>
  </nav>


  <div class="row">
      <div id="flash-messages" class="large-12 columns">
      <% %w[notice error success].each do |type| %>
        <% if flash[type.to_sym] %>
          <div data-alert id='flash' class='flash <%= type %>'>
            <%= flash[type.to_sym] %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="row">
<!--      <a href="https://github.com/tourdedave/the-internet"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/img/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>-->
      <div id="content" class="large-12 columns">
        <%= yield %>
      </div>
    </div>


<!--  <div id='page-footer' class="row">-->
<!--    <div class="large-4 large-centered columns">-->
<!--      <hr>-->
<!--      <div style="text-align: center;">Powered by <a target="_blank" href="https://www.ucodeacademy.com/"><span style="color: #007bff;">U-Code Academy</span></a></div>-->
<!--    </div>-->
<!--  </div>-->

  <footer class="SITE_FOOTER_WRAPPER" tabindex="-1" id="SITE_FOOTER_WRAPPER">
    <div id="SITE_FOOTER" class="xU8fqS SITE_FOOTER wixui-footer" tabindex="-1">
      <div class="_C0cVf">
        <div class="_4XcTfy" data-testid="screenWidthContainerBg"></div>
      </div>
      <div class="U4Bvut">
        <div class="G5K6X8">
          <div class="gUbusX" data-testid="screenWidthContainerBgCenter"></div>
        </div>
        <div class="CJF7A2">
          <div data-mesh-id="SITE_FOOTERinlineContent" data-testid="inline-content" class="">
            <div data-mesh-id="SITE_FOOTERinlineContent-gridContainer" data-testid="mesh-container-content">
              <div id="comp-lgma1fnr" class="KcpHeO tz5f0K comp-lgma1fnr wixui-rich-text" data-testid="richTextElement">
                <p class="font_10 wixui-rich-text__text" style="line-height:1.79em; text-align:center; font-size:14px;">
                  <span style="letter-spacing:normal;" class="wixui-rich-text__text"><span class="color_11 wixui-rich-text__text">©2023 U-Code Academy</span></span>
                </p></div>
              <div id="comp-lgma1fnq1" class="comp-lgma1fnq1 WzbAF8">
                <ul class="mpGTIt" aria-label="Social Bar">
                  <li id="dataItem-lhqheuj6-comp-lgma1fnq1" class="O6KwRn">
                    <a data-testid="linkElement" href="https://www.instagram.com/ucodeacademy/" target="_blank" rel="noreferrer noopener" class="oRtuWN">
                      <wow-image id="img_0_comp-lgma1fnq1" class="HlRz5e YaS0jR" data-image-info="{&quot;containerId&quot;:&quot;dataItem-lhqheuj6-comp-lgma1fnq1&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:201,&quot;height&quot;:201,&quot;uri&quot;:&quot;11062b_55e4be1e75564866b6c28290f9a9d271~mv2.png&quot;,&quot;name&quot;:&quot;&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-has-ssr-src="" style="--wix-img-max-width:max(201px, 100%)" data-src="https://static.wixstatic.com/media/11062b_55e4be1e75564866b6c28290f9a9d271~mv2.png/v1/fill/w_28,h_28,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_55e4be1e75564866b6c28290f9a9d271~mv2.png">
                        <img alt="Instagram" fetchpriority="high" src="https://static.wixstatic.com/media/11062b_55e4be1e75564866b6c28290f9a9d271~mv2.png/v1/fill/w_28,h_28,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_55e4be1e75564866b6c28290f9a9d271~mv2.png" style="width: 28px; height: 28px; object-fit: cover;">
                      </wow-image>
                    </a></li>
                  <li id="dataItem-lgn8sgkz-comp-lgma1fnq1" class="O6KwRn">
                    <a data-testid="linkElement" href="https://www.facebook.com/profile.php?id=100092223721528" target="_blank" rel="noreferrer noopener" class="oRtuWN">
                      <wow-image id="img_1_comp-lgma1fnq1" class="HlRz5e YaS0jR" data-image-info="{&quot;containerId&quot;:&quot;dataItem-lgn8sgkz-comp-lgma1fnq1&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;23fd2a2be53141ed810f4d3dcdcd01fa.png&quot;,&quot;name&quot;:&quot;Facebook&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-has-ssr-src="" style="--wix-img-max-width:max(200px, 100%)" data-src="https://static.wixstatic.com/media/23fd2a2be53141ed810f4d3dcdcd01fa.png/v1/fill/w_28,h_28,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Facebook.png">
                        <img alt="Facebook" fetchpriority="high" src="https://static.wixstatic.com/media/23fd2a2be53141ed810f4d3dcdcd01fa.png/v1/fill/w_28,h_28,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Facebook.png" style="width: 28px; height: 28px; object-fit: cover;">
                      </wow-image>
                    </a></li>
                  <li id="dataItem-lgn8sgl22-comp-lgma1fnq1" class="O6KwRn">
                    <a data-testid="linkElement" href="https://www.linkedin.com/company/" target="_blank" rel="noreferrer noopener" class="oRtuWN">
                      <wow-image id="img_2_comp-lgma1fnq1" class="HlRz5e YaS0jR" data-image-info="{&quot;containerId&quot;:&quot;dataItem-lgn8sgl22-comp-lgma1fnq1&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;7528824071724d12a3e6c31eee0b40d4.png&quot;,&quot;name&quot;:&quot;LinkedIn&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-has-ssr-src="" style="--wix-img-max-width:max(200px, 100%)" data-src="https://static.wixstatic.com/media/7528824071724d12a3e6c31eee0b40d4.png/v1/fill/w_28,h_28,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/LinkedIn.png">
                        <img alt="LinkedIn" fetchpriority="high" src="https://static.wixstatic.com/media/7528824071724d12a3e6c31eee0b40d4.png/v1/fill/w_28,h_28,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/LinkedIn.png" style="width: 28px; height: 28px; object-fit: cover;">
                      </wow-image>
                    </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>


  </body>
</html>
