<div class="container">
  <div class="row">
    <div id="flash-messages" class="large-12 columns">
    </div>
  </div>
  <div class="row">
    <div id="content" class="large-12 columns">
      <div class="container">
        <div class="col-sm-1-12">
          <div class="alert alert-success">
            <p><strong>Success!</strong> New tab was opened!</p>
          </div>
        </div>
      </div>
      <script>
          window.onload = function updateTitle(){
              document.title = "Fresh Tab";
          }
      </script>
    </div>
  </div>

</div>