<div class="container">
  <div class="row">
    <div id="flash-messages" class="large-12 columns">
    </div>
  </div>
  <div class="row">
    <div id="content" class="large-12 columns">
      <div class="container">
        <div class="col-sm-1-12">
          <div id="alert" class="alert alert-primary">
            <p><strong id="msg">Check the new tab!</strong></p>

          </div>
        </div>
      </div>
      <script>
          document.title = "New tab will be opened in 3 seconds!";
          window.onload = setTimeout(function openNewTab() {
              var win = window.open("/new_tab", '_blank');
              win.focus();
              document.getElementById("spinner").remove();
              document.getElementById("msg").innerText = "Check the new tab!"
          }, 3000);
      </script>

    </div>
  </div>
</div>