
<div id="content" class="large-12 columns">
  <div class="container">
    <div class="col-sm-1-12">
      <div id="alert" class="alert alert-primary">
        <p><strong id="msg">Loading... Please wait.</strong></p>
      </div>
    </div>
  </div>
  <script>
      document.title = "New tab will be opened in 3 seconds!";
      setTimeout(function() {
          var win = window.open("/new_tab", '_blank');
          win.addEventListener("load", function() {
              win.document.getElementById("msg").innerText = "Check the new tab!";
          });
          document.getElementById("alert").remove();
      }, 3000);
  </script>
</div>

<!--<div class="row">-->
<!--  <div id="content" class="large-12 columns">-->
<!--    <div class="container">-->
<!--      <div class="col-sm-1-12">-->
<!--        <div id="alert" class="alert alert-primary">-->
<!--          <p><strong id="msg">Check the new tab!</strong></p>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <script>-->
<!--        document.title = "New tab will be opened in 3 seconds!";-->
<!--        setTimeout(function() {-->
<!--            var win = window.open("/new_tab", '_blank');-->
<!--            win.focus();-->
<!--            document.getElementById("alert").remove();-->
<!--            document.getElementById("msg").innerText = "Check the new tab!";-->
<!--        }, 3000);-->
<!--    </script>-->

<!--  </div>-->
<!--</div>-->