<!--<div class="col-12 mt-4 col-md-6">-->
<!--  <div id="Ad.Plus-970x250-1" data-google-query-id="CPXM9abnk4cDFZ6YgwgdI_IIXA" style="margin-bottom: 50px;">-->
<!--    <div id="google_ads_iframe_/21849154601,22343295815/Ad.Plus-970x250-1_0__container__" style="border: 0pt none;">-->
<!--      <iframe id="google_ads_iframe_/21849154601,22343295815/Ad.Plus-970x250-1_0" name="google_ads_iframe_/21849154601,22343295815/Ad.Plus-970x250-1_0" title="3rd party ad content" width="970" height="250" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" aria-label="Advertisement" tabindex="0" allow="attribution-reporting" data-load-complete="true" style="border: 0px; vertical-align: bottom;" data-google-container-id="2"></iframe>-->
<!--    </div>-->
<!--  </div>-->
<!--  <h1 class="text-center">Radio Button</h1>-->
<!--  <div>-->
<!--    <div class="mb-3">Do you like the site?</div>-->
<!--    <div class="custom-control custom-radio custom-control-inline">-->
<!--      <input type="radio" id="yesRadio" name="like" class="custom-control-input"><label class="custom-control-label" for="yesRadio">Yes</label>-->
<!--    </div>-->
<!--    <div class="custom-control custom-radio custom-control-inline">-->
<!--      <input type="radio" id="impressiveRadio" name="like" class="custom-control-input"><label class="custom-control-label" for="impressiveRadio">Impressive</label>-->
<!--    </div>-->
<!--    <div class="custom-control disabled custom-radio custom-control-inline">-->
<!--      <input type="radio" id="noRadio" disabled="" name="like" class="custom-control-input disabled"><label class="custom-control-label disabled" for="noRadio">No</label>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div style="border: 1px solid rgb(229, 229, 229); margin-top: 50px; padding: 50px;">-->
<!--    <div id="Ad.Plus-970x250-2" data-google-query-id="CPTt2qbnk4cDFdqagwgd3YcNVw" style="margin-bottom: 50px;">-->
<!--      <div id="google_ads_iframe_/21849154601,22343295815/Ad.Plus-970x250-2_0__container__" style="border: 0pt none; display: inline-block; width: 970px; height: 250px;">-->
<!--        <iframe frameborder="0" src="https://b991c46982ea8cbb19dbe13a3ed21a17.safeframe.googlesyndication.com/safeframe/1-0-40/html/container.html" id="google_ads_iframe_/21849154601,22343295815/Ad.Plus-970x250-2_0" title="3rd party ad content" name="" scrolling="no" marginwidth="0" marginheight="0" width="970" height="250" data-is-safeframe="true" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" allow="attribution-reporting" aria-label="Advertisement" tabindex="0" data-google-container-id="3" style="border: 0px; vertical-align: bottom;" data-load-complete="true"></iframe>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div></div>-->
<!--</div>-->



<!--<style>-->

<!--    .form-check-input {-->
<!--        display: inline-block;-->
<!--        vertical-align: middle;-->
<!--        margin-right: 5px;-->
<!--    }-->

<!--    .form-check-label {-->
<!--        display: inline-block;-->
<!--        vertical-align: middle;-->
<!--        margin-bottom: 0;-->
<!--    }-->

<!--</style>-->



<div class="col-12 mt-4 col-md-6">
  <div id="Ad.Plus-970x250-1" data-google-query-id="CPXM9abnk4cDFZ6YgwgdI_IIXA" style="margin-bottom: 50px;">
    <div id="google_ads_iframe_/21849154601,22343295815/Ad.Plus-970x250-1_0__container__" style="border: 0;">
      <iframe id="google_ads_iframe_/21849154601,22343295815/Ad.Plus-970x250-1_0" title="3rd party ad content" width="970" height="250" scrolling="no" frameborder="0" aria-label="Advertisement" tabindex="0" allow="attribution-reporting" data-load-complete="true" style="border: 0; vertical-align: bottom;"></iframe>
    </div>
  </div>
  <h1 class="text-center">Radio Button</h1>
  <div>
    <div class="mb-3">Do you like the site?</div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="yesRadio" name="like" class="custom-control-input">
      <label class="custom-control-label" for="yesRadio">Yes</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="impressiveRadio" name="like" class="custom-control-input">
      <label class="custom-control-label" for="impressiveRadio">Impressive</label>
    </div>
    <div class="custom-control disabled custom-radio custom-control-inline">
      <input type="radio" id="noRadio" disabled name="like" class="custom-control-input">
      <label class="custom-control-label disabled" for="noRadio">No</label>
    </div>
  </div>
  <div style="border: 1px solid rgb(229, 229, 229); margin-top: 50px; padding: 50px;">
    <div id="Ad.Plus-970x250-2" data-google-query-id="CPTt2qbnk4cDFdqagwgd3YcNVw" style="margin-bottom: 50px;">
      <div id="google_ads_iframe_/21849154601,22343295815/Ad.Plus-970x250-2_0__container__" style="border: 0; display: inline-block; width: 970px; height: 250px;">
        <iframe src="https://b991c46982ea8cbb19dbe13a3ed21a17.safeframe.googlesyndication.com/safeframe/1-0-40/html/container.html" id="google_ads_iframe_/21849154601,22343295815/Ad.Plus-970x250-2_0" title="3rd party ad content" name="" scrolling="no" marginwidth="0" marginheight="0" width="970" height="250" data-is-safeframe="true" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" allow="attribution-reporting" aria-label="Advertisement" tabindex="0" style="border: 0; vertical-align: bottom;" data-load-complete="true"></iframe>
      </div>
    </div>
  </div>
</div>

<style>
    .custom-control-input {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }

    .custom-control-label {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
    }

    .disabled .custom-control-input {
        opacity: 0.5; /* Example for disabled look */
        cursor: not-allowed; /* Example for disabled cursor */
    }

    .disabled .custom-control-label {
        opacity: 0.5; /* Example for disabled look */
        cursor: not-allowed; /* Example for disabled cursor */
    }
</style>
