<div class="container">
  <div class="row">
    <div id="flash-messages" class="large-12 columns">
    </div>
  </div>
  <div class="row">
    <div id="content" class="large-12 columns">
      <div class="container">
        <h3 class="h3">Radio buttons</h3>
        <br>
        <h6>Select your favorite color:</h6>
        <br>
        <div class="radio">
          <input type="radio" id="blue" name="color" checked="">
          <label class="form-check-label">Blue</label>
        </div>
        <div class="radio">
          <input type="radio" id="red" name="color">
          <label class="form-check-label">Red</label>
        </div>
        <div class="radio">
          <input type="radio" id="yellow" name="color">
          <label class="form-check-label">Yellow</label>
        </div>
        <div class="radio">
          <input type="radio" id="black" name="color">
          <label class="form-check-label">Black</label>
        </div>
        <div class="radio">
          <input type="radio" id="green" name="color">
          <label class="form-check-label">Green</label>
        </div>
        <br>
        <h6>Select your favorite sport:</h6>
        <br>
        <div class="radio">
          <input type="radio" id="basketball" name="sport">
          <label class="form-check-label" for="basketball">Basketball</label>
        </div>
        <div class="radio">
          <input type="radio" id="football" name="sport">
          <label class="form-check-label" for="football">Football</label>
        </div>
        <div class="radio">
          <input type="radio" id="hockey" name="sport">
          <label class="form-check-label" for="hockey">Hockey</label>
        </div>
        <div class="radio">
          <input type="radio" id="soccer" name="sport">
          <label class="form-check-label" for="soccer">Soccer</label>
        </div>
      </div>
      <script>
          document.title = "Radio buttons";
      </script>



    </div>
  </div>
</div>