<div class="example">
  <h3>Opening a new window</h3>
  <a href='/windows/new', target='_blank'>Click Here to open blank window</a><br>
  <a href='https://www.google.com/', target='_blank'>Click to open Google in a new window</a><br>
  <a href='https://www.etsy.com/', target='_blank'>Click to open Etsy in a new window</a><br>
  <a href='https://www.amazon.com/', target='_blank'>Click to open Amazon in a new window</a>
</div>
