<div class="example">
  <h3>Opening a new window</h3>
  <p>This page will open a new window when you click on the links below.</p>

  <a href='/windows/new', target='_blank'>Click Here</a><br><br>
  <a href='https://www.google.com/', target='_blank'>Google</a><br><br>
  <a href='https://www.etsy.com/', target='_blank'>Etsy</a><br><br>
  <a href='https://www.amazon.com/', target='_blank'>Amazon</a>
</div>
